@model IEnumerable<Cake.Models.Contactu>

@{
    ViewData["Title"] = "Index";
}

<div class="a">

    <h1>Contact us</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shop)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop.Cakeshopid)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Contactid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Contactid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Contactid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>