@model IEnumerable<Cake.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<div class="a">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imagepath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Backgroundtext)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aboutustext)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shop)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Imagepath)*@
                        <img src=@Url.Content("~/Image/" + item.Imagepath) asp-append-version="true" style="width:100px; height:100px; border-radius:10%" alt="Alternate Text" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Backgroundtext)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aboutustext)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop.Cakeshopname)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Homeid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Homeid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Homeid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>