@model Cake.Models.Login

@{
    ViewData["Title"] = "Delete";
}
<div class="a">

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Login</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cust)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cust.Custid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Emp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Emp.Empid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Loginrole)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Loginrole.Roleid)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Loginid" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>