@model IEnumerable<Cake.Models.Product>

@{
    Layout = null;
}

<head>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
</head>

<div style=" background-color: #fbe8eb; ">
    <h2>Search For Cakes</h2>
    <div class="row">
        <div class="form-group">
            <form asp-controller="Products" asp-action="SearchName">
                <div class="input-group px-4 pb-2">
                    <div class="form-outline">
                        <input type="search" class="form-control" name="word" id="word" placeholder="Search By Product Name ..." style=" width: 350px;" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </form>
        </div>

    </div>



    <div class="row">




        @if (Model != null)
        {
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">

                        @*<span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>*@
                    </div>

                    @foreach (var item in Model)
                    {
                        <form asp-action="Shop" asp-controller="Home" style="display:inline">
                            @*<input type="hidden" name="proid" id="proid" value="@item.Productid" />*@
                            <input type="hidden" name="proName" id="proName" value="@item.Productname" />
                            <input type="hidden" name="price" id="price" value="@item.Price" />

                            <div class="col-lg mb-5 col-12" style="display:inline">

                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="@Url.Content("/Image/"+ @item.Imagepath)" alt="..." />
                                    <div class="card-body p-4">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Productname</h5>



                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Description: @item.Productdescription</li>
                                                <li class="list-group-item">Price: @item.Price</li>

                                            </ul>

                                            <div class="list-group list-group-flush">
                                                <label for="Qty" class="list-group-item">Quantity:</label>
                                                <input id="Qty" class="list-group-item" type="number" min="1" name="Qty" />
                                                <span class="focus-input100"></span>
                                                <span for="Qty" class="symbol-input100"></span>
                                            </div>


                                            @*<span class="text-muted text-decoration-line-through">@item.Price JD</span>*@

                                        </div>
                                    </div>

                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center" style="text-align:center"><button class="btn btn-primary" type="submit">Add to cart</button></div>
                                    </div>
                                </div>
                                @*class="btn btn-outline-dark mt-auto"*@
                            </div>

                        </form>
                    }

                </div>

            </div>
        }
        else
        {
            <h1>No Products Found</h1>
        }

        <div>  <button class="btn btn-primary" type="submit"> <a href="/Home/Index" style="text-decoration:none"> Back</a> </button></div>

    </div>
</div>






















@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SearchName</title>
    </head>
    <body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Productname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productdescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagepath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Productcateg)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productdescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagepath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productcateg.Categoryid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Productid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Productid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Productid">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    </body>
    </html>*@
