@model IEnumerable<Cake.Models.Aboutu>

@{
    ViewData["Title"] = "Index";
}

<div class="a">

    <h1>About Us</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Mobilenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instagram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shop)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobilenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facebook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instagram)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Twitter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop.Cakeshopid)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Aboutusid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Aboutusid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Aboutusid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>